<footer>
    <table class="table">
        <tbody>
            <tr>
                <td colspan="2">
                    <div class="title-contact-us">Liên hệ với chúng tôi <span>(Hỗ trợ 24/7)</span></div>
                </td>

                <td style="width: 280px">
                    <div class="title-box"><h4>Trang Chủ</h4></div>
                    <ul>
                        <li>
                            <a href="https://travel-web-ks0z.onrender.com/"><h5>Trang Chủ</h5></a>
                        </li>
                    </ul>
                </td>

                <td class="align-top" style="width: 280px">
                    <div class="title-box"><h4>Tours</h4></div>
                    <ul>
                        <li>
                            <a href="https://travel-web-ks0z.onrender.com/api/tour/latest-tours"
                                ><h5>Tours mới nhất</h5></a
                            >
                        </li>
                        <li>
                            <a href="https://travel-web-ks0z.onrender.com/api/tour/mi%E1%BB%81n%20b%E1%BA%AFc"
                                ><h5>Tours miền Bắc</h5></a
                            >
                        </li>
                        <li>
                            <a href="https://travel-web-ks0z.onrender.com/api/tour/mi%E1%BB%81n%20trung"
                                ><h5>Tours miền Trung</h5></a
                            >
                        </li>
                        <li>
                            <a href="https://travel-web-ks0z.onrender.com/api/tour/mi%E1%BB%81n%20nam"
                                ><h5>Tours miền Nam</h5></a
                            >
                        </li>
                        <li>
                            <a href="https://travel-web-ks0z.onrender.com/api/tour/tours-type/tr%E1%BB%8Dn%20g%C3%B3i"
                                ><h5>Tours trọn gói</h5></a
                            >
                        </li>
                        <li>
                            <a href="https://travel-web-ks0z.onrender.com/api/tour/tours-type/daily"
                                ><h5>Tours trong ngày</h5></a
                            >
                        </li>
                    </ul>
                </td>

                <td>
                    <div class="title-box"><h4>Khác</h4></div>
                    <ul>
                        <li>
                            <a href="#"><h5>Thông tin đơn hàng</h5></a>
                        </li>
                        <li>
                            <a href="#"><h5>Tài khoản</h5></a>
                        </li>
                        <li>
                            <a href="#"><h5>Đăng xuất</h5></a>
                        </li>
                        <li>
                            <a href="https://travel-web-ks0z.onrender.com/contact"><h5>Liên hệ</h5></a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</footer>
