<div class="col-xs-12 search-form">
    <form class="row row gy-4 gx-4" id="search-form" action="" method="get">
        <div class="col-xs-12 col-md-3 field" id="departure-field">
            <div class="input-icon">
                <i class="fa-solid fa-plane-departure"></i>
            </div>
            <div class="field__content">
                <p class="field__text">Khởi hành từ</p>
                <p class="field__desc" id="selectedCity" name="departure"></p>
            </div>
            <div
                class="col-xs-12 departure-popover"
                data-bs-toggle="popover"
                data-bs-placement="bottom"
                data-bs-html="true"
                data-bs-content=""
            >
                <div class="col-xs-12 departure-popover__inner" id="departure-popover"></div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="input-icon">
                <i class="fa-solid fa-location-dot"></i>
            </div>
            <span>
                <input type="text" class="form-control search-input" placeholder="Bạn muốn đi đâu?" required="true" />
            </span>
        </div>
        <div class="col-xs-12 col-md-3 field">
            <div class="input-icon">
                <i class="fa-regular fa-calendar-days"></i>
            </div>
            <span class="field__content" id="dateInput">
                <p class="field__text" id="DateOfWeekCheckinStr"></p>
                <p class="field__desc" id="DateCheckinStr" name="dateGo"></p>
            </span>
        </div>
        <div class="col-xs-12 col-md-2 field">
            <button type="submit" class="btn btn-search" id="home-search">Tìm</button>
        </div>
    </form>
</div>
