
    <h1 style="margin: 200px;">Test Payment</h1>
    <form action="/api/payment/vnpay" method="post">
        <label for="idbooking">ID Booking:</label>
        <input type="text" id="idbooking" name="idbooking" required><br><br>
        <label for="amount">Amount:</label>
        <input type="text" id="totalprice" name="totalprice" required><br><br>
        <button type="submit">Pay Now</button>
    </form>
